<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="jobbutton">希望の職種</h2>
    <button>営業</button>
    <button>事務・管理</button>
    <button>企画・マーケティング・経営・管理職</button>
    <button>サービス・販売・外食</button>
    <button>web・インターネット・ゲーム</button>
    <button>クリエイティブ<br>（メディア・アパレル・デザイン）</button>
    <button>専門職<br>（コンサルタント・士業・金融・不動産）</button>
    <button>ITエンジニア<br>（システム開発・SE・インフラ）</button>
    <button>素材・科学・食品・医薬品・技術職</button>
    <button>その他</button>
    <button>指定なし</button>

</body>
</html>